.content-paper-question {
    padding: 1%;
}

.error-response-quiz > .MuiFormControlLabel-label {
    color: red !important;
}

.success-response-quiz > .MuiFormControlLabel-label {
    color: green !important;
}
